body{font-family: 'Roboto', sans-serif;

}

header{
    background-color: rgb(60, 50, 148) ;
    padding: 8px 20px 8px 50px; 
}
#navegar{
    display: flow-root;
}

#navegar a{
color: rgb(208, 119, 214);
text-decoration: none;
margin-right: 45px;
font: oblique bold 120% cursive;
font-size: 20px;
}
#navegar a:hover{
    color: rgb(119, 0, 255);
}
.flotar-izquierda p{
    color: rgb(7, 7, 7);
    float: left;
    font-family: cursive;
    font-size: 40px;
    font: oblique bold 120% cursive;
}
.flotar-derecha{
    float: right;
    padding: 12px 5px 12px;
}

.img-container {
    max-width: 100%;
    height: 500px;
}
.img-container img{
    width: 100%;
    height: 93%; 
}
#banner-inicio h1{
   font-size: 75px;
    font-weight: bold;
    color: rgb(53, 104, 199);
    margin-bottom: 15px;
    font-family: "Segoe UI"
}
#banner-inicio p{
    font-size: 25px;
    margin-bottom: 25px;
}
#titulo button{
    background: darkred;
    border-radius: 20px;
    color: azure;
    font-size: 20px;
    padding: 10px; 
   
     
}
#titulo button{
    padding: 0px 50px 0px 50px;
}
#titulo button:hover{
    background: darkgoldenrod;

    
}
h2{ text-align-last: left;} 
li{text-align-last: left;} 
h2{ font-size: 40px;
    font-weight: inherit;
    font-style: oblique;
}
li{ font-size: 20px;
    font-weight: bold;
}
h3{ font-size: 35px; 
    font-weight: bold;
    padding: 0px 20px 0px 20px;

}
td{ font-size: 25px;
}
h4{ font-weight: bold;
}
/*#Recomsxx{
    font-family: 'Itim', cursive;
}*/
#music h1{
    text-align-last: center;
    color: rgb(74, 192, 207);
}
#titulo{
    text-align: left;
   
}
#titulo h2{
    padding: 0px 15px 0px 15px;
}
#titulo p{
    padding: 0px 50px 0px 50px;
}

